<!-- Drawer는 large screen에서 항상 열려있다. header역시 항상 보이게한다(small screen 이라할지라도)-->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">JAMONG</span>
        <!-- spacer를 추가, Navigation을 오른쪽 정렬한다. -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="" style="color:gray">Home</a>
            <a class="mdl-navigation__link" href="" style="color:gray">About</a>      
        </nav>
        </div>
    </header>

    <!-- Drawer Area -->
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">JAMONG - DRAWER</span>
        <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Home</a>
        <a class="mdl-navigation__link" href="">About</a>    
        </nav>
    </div>

    <!-- Main Content Area -->
    <main class="mdl-layout__content">
         
         <!-- CARD TEST -->
         <div class="wide-card mdl-card mdl-shadow--2dp">
            <!-- CARD TITLE -->
            <div class="mdl-card__title">
               <h2 class="mdl-card__title-text">{{title}}Loop-back</h2>
            </div>
            <!-- CARD SUPPORTING TEXT -->
            <div class="mdl-card__supporting-text">
                <p><b>사용자입력값을 템플릿참조변수에서 얻기</b></p>
                <p>
                    이제 box 라는 이 변수는 &lt;input&gt;요소인 자신을 참조한다. 
                    이는 우리가 &lt;input&gt;요소의 값을 잡아낼(grap) 수 있고, 
                    이를 interpolation을 활용해 &lt;p&gt;태그 안에 표현할 수 있다는 말이다.
                </p>
                <p>
                    template는 완벽하게 스스로 동작한다.
                    이것은 component에 바인딩되는 일반적인 angular의 형태와는 다르다. 
                    위 코드에서 Component는 이러한 동작에대해 아무런 작업도 실시하는 것이 없다.
                </p>
                <br/>
                
                <keyup-loopback></keyup-loopback>
            </div>
            <!-- CARD BOTTOM LINK -->
            <div class="mdl-card__actions mdl-card--border">
               <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">자세히 알아보기</a>
            </div>

            <!-- CARD MENU - SHARE -->
            <div class="mdl-card__menu">
               <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i class="material-icons">share</i></button>
            </div>
         </div>


    </main>
</div>